@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "poppins";
}

a {
}

nav {
    display: flex;
    flex-direction: row;
    /* background-color: grey; */
    justify-content: space-evenly;
    padding: 25px 0 25px 0;
    align-items: center;
}
.logo {
    /* font-family: "poppins"; */
    font-weight: 700;
    line-height: 24px;
    font-size: 24px;
}
.navbar__list ul li {
    display: inline;
    padding: 0 15px 0 15px;
}
.navbar__list ul li a {
    color: black;
    font-weight: 500;
    line-height: 27px;
    font-size: 15px;
}

.hero {
    margin-top: 50px;
}
.hero__title {
    font-size: 212px;
    line-height: 255px;
    text-align: center;
    color: #313b44;
}
.hero__description {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* outline: 2px solid red; */
    margin-left: 150px;
    margin-right: 150px;
    /* margin-right: 15px; */
}
.hero__description h1 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
    /* display: block; */
    margin-right: 150px;
}
.hero__description p {
    font-size: 18px;
    font-weight: 400;
    color: #313b44;
}

.hero__description__container1,
.hero__description__container2 {
    /* outline: 2px solid red; */
}

.hero__description__container1 {
    margin-right: 20px;
}

.hero__description__container1 p {
    margin-top: 30px;
}
.hero__description__container2 img {
    border-radius: 100px;
    /* margin-left: 100px; */
    /* margin-right: 100px; */
}
.hero__description__container2 h3 {
    font-size: 18px;
    line-height: 27px;
    color: #313b44;
    font-weight: 700;
}
.hero__description__container2 p {
    font-size: 16px;
    font-weight: 400;
    color: #313b44;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: row;
    height: 400px;
}
